@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Inter';
  src: url('/assets/font/Inter-Italic-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/font/Inter-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/font/Manrope-VariableFont.woff2') format('woff2');
  font-weight:400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair';
  src: url('/assets/font/PlayfairDisplay-Italic-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Playfair';
  src: url('/assets/font/Play') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Portlight';
  src: url('/assets/font/PortLligatSlab-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}